.visual{
  margin-top: 900px;
  padding: 10px 200px;
  background-image: url("../images/WOODOOVIEW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.menu-item {
  background-color: #ffad41;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  max-width: 100%;
  border-radius: 8px;
}

.menu-item h2 {
  font-size: 18px;
  color: #333;
}

.menu-item p {
  font-size: 14px;
  color: #666;
}


/* FIND STORE */
.find-store {
  background-image: url(../images/find_store_bg.jpg);
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0px; 
}
.find-store .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  position: absolute;
}
.find-store .picture1 {
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}
/* 맨위로 아이콘 */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

/*     category     */

.visual .category{
  margin-top: 30px;
  font-size: 35px;
  background-color:#ffad41 ;
  color: white;
  border-radius:10px;
}
.menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 5px; /* 메뉴 아이템 사이의 간격 설정 */
}
.menu-item {
  /* flex: 1; */
  margin: 0 10px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  text-align: center;
}

.checkcategory h1 {
  /* margin-top: 95px; */
  position: relative;
  top: 100px;
}



/*    order-list    */

.order-list{
display: flex;
position: absolute;
top: 200px;
right: 20px;
justify-content: center;

}
.order-list .order-card{
  /* width: 500px; */
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F6F5F0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  padding: 20px;
  
}
.order-list .order-card h2{
  width: 300px;
  text-align: center;
}
.order-list .order-card input{
  /* width: 100%; */
  align-items: center;
  margin-bottom: 12px;
  padding: 15px;
  background-color:#ffad41;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.order-list .order-card form [type="submit"]{
  /* background-color: #ffad41; */
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin: 0 109px 0 109px ;
}

.order-item h6{
  font-size: 12px;
}
.memtable {
    width: 100%; /* 부모 요소의 너비를 채움 */
    border-collapse: collapse; /* 테두리 중복 제거 */

  }
  /* th 스타일링 */
  .memtable th {
    background: white;
    border: 1px solid gray;
  }


   table th{
    /* background: #ffad41; */
    border:  1px solid gray;
  }

  .memtable h3{
    padding: 20px;
    font-size: 30px;
  }
  .memtable h4{
    text-align: left;
  }

  .order {
  margin-top: 120px;
  padding: 100px 0 150px;
  background-image: url("../images/WOODOOVIEW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.order h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.order .order__card {
  width: 500px;
  border-radius: 6px;
  background-color: #F6F5F0;
  padding: 30px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  /*overflow: hidden; /* 테두리가 테이블에 적용되도록 설정 */
  
  margin: 0 auto; /* 가운데 정렬 */
}

.order__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.order__card form {
  padding: 30px 22px;
}
.order__card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.order__card form [type="submit"] {  /* [] : 속성 선택자 */
  background-color: #ffad41;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.order__card form p {
  font-size: 12px;
  color: #ffad41;
  text-align: center;
}
.order__card .actions {
  display: flex;
  border-top: 1px solid #ddd;
}
.order__card .actions a {
  flex-grow: 1;   /* 세가지 버튼이 1:1:1 비율로 되도록 만들어줌 */
  flex-basis: 0;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;


  
}
.order__card .actions a:last-child {
  border-right: none;   /* 마지막 테두리선은 없애기 */
}
.order__card .actions a:hover {
  text-decoration: underline;
}
/*    order-list    */

.order-list{
display: flex;
position: absolute;
top: 200px;
right: 20px;
justify-content: center;

}
.order-list .order-card{
  /* width: 500px; */
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F6F5F0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  padding: 20px;
  
}
.order-list .order-card h2{
  width: 300px;
  text-align: center;
}
.order-list .order-card input{
  /* width: 100%; */
  align-items: center;
  margin-bottom: 12px;
  padding: 15px;
  background-color:#ffad41;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.order-list .order-card form [type="submit"]{
  /* background-color: #ffad41; */
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin: 0 109px 0 109px ;
}

.order-item h6{
  font-size: 12px;
}
/*     category     */

.visual .category{
  margin-top: 30px;
  font-size: 35px;
  background-color:#ffad41 ;
  color: white;
  border-radius:10px;
}
.menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 5px; /* 메뉴 아이템 사이의 간격 설정 */
}
.menu-item {
  /* flex: 1; */
  margin: 0 10px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  text-align: center;
}
.menu-item button{
  background-color: #ffad41;
  border: 0px solid #ffad41;
  cursor: pointer;
}

.checkcategory h1 {
  /* margin-top: 95px; */
  position: relative;
  top: 100px;
}

  .memtable {
    /* width: 100%; */ /* 부모 요소의 너비를 채움 */
    border-collapse: collapse; /* 테두리 중복 제거 */

  }
  /* th 스타일링 */
  .memtable th {
    background: white;
    border: 1px solid gray;
  }
.memtable td {
    background: white;
    border: 1px solid gray;
  }

   table th{
   /*  background: #ffad41; */
    border:  1px solid gray;
  }

  .memtable h3{
    padding: 20px;
    font-size: 30px;
  }
  .memtable h4{
    text-align: left;
  }

  .order {
  margin-top: 120px;
  padding: 100px 0 150px;
  background-image: url("../images/WOODOOVIEW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.order h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.order .order__card {
  width: 500px;
  border-radius: 6px;
  background-color: #F6F5F0;
  padding: 30px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  /*overflow: hidden; /* 테두리가 테이블에 적용되도록 설정 */
  
  margin: 0 auto; /* 가운데 정렬 */
}

.order__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.order__card form {
  padding: 30px 22px;
}
.order__card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.order__card form [type="submit"] {  /* [] : 속성 선택자 */
  background-color: #ffad41;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.order__card form p {
  font-size: 12px;
  color: #ffad41;
  text-align: center;
}
.order__card .actions {
  display: flex;
  border-top: 1px solid #ddd;
}
.order__card .actions a {
  flex-grow: 1;   /* 세가지 버튼이 1:1:1 비율로 되도록 만들어줌 */
  flex-basis: 0;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;


  
}
.order__card .actions a:last-child {
  border-right: none;   /* 마지막 테두리선은 없애기 */
}
.order__card .actions a:hover {
  text-decoration: underline;
}